/* Estilos básicos */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff; /* Fondo blanco */
    color: #333333;
    text-align: center;
    padding: 20px;
}

#time {
    font-size: 12px; /* Tamaño de fuente para el reloj */
    font-weight: bold;
    color: #1a73e8;
    margin-bottom: 20px;
}

#date {
    font-size: 10px; /* Tamaño de fuente para la fecha */
    margin-bottom: 15px;
    color: #555555;
}

#quote {
    font-size: 10px; /* Tamaño de fuente para la frase */
    font-style: italic;
    margin: 20px;
    color: #444444;
}

#gratitude {
    font-size: 8px; /* Tamaño de fuente para la razón de agradecer */
    background-color: #f0f4f8;
    color: #1a73e8;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}
