/* Estilos básicos */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff; /* Fondo blanco */
    color: #e3e3e3;
    text-align: center;
    padding: 5px;
}

#time {
    font-size: 28px; /* Tamaño de fuente para el reloj */
    font-weight: bold;
    color: #7597E4;
    margin-bottom: 5px;
}

#date {
    font-size: 16px; /* Tamaño de fuente para la fecha */
    margin-bottom: 10px;
    color: #B6CCFE;
}

#quote {
    font-size: 16px; /* Tamaño de fuente para la frase */
    font-style: italic;
    margin: 10px;
    color: #B6CCFE;
}

#gratitude {
    font-size: 14px; /* Tamaño de fuente para la razón de agradecer */
    background-color: ##E2EAFC;
    color: #B6CCFE;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}
